TowerofAngra/Debug/projectlevel/Intermediate/
TowerofAngra/Debug/projectlevel/.vs/
TowerofAngra/Debug/projectlevel/projectlevel.sln
TowerofAngra/Debug/projectlevel/Binaries/
TowerofAngra/Debug/projectlevel/Saved/Autosaves/Game/TowerofAngra/Maps/Room3_Auto4.umap
TowerofAngra/Debug/projectlevel/Saved/Autosaves/Game/TowerofAngra/Maps/Room1_Auto4.umap
TowerofAngra/Debug/projectlevel/Saved/Autosaves/Game/TowerofAngra/Maps/Room3_Auto6.umap
TowerofAngra/Debug/projectlevel/Saved/Autosaves/Game/TowerofAngra/Maps/Room1_Auto5.umap
TowerofAngra/Debug/projectlevel/Saved/Autosaves/Game/TowerofAngra/Maps/Room1_Auto6.umap
TowerofAngra/Debug/projectlevel/Saved/Autosaves/Game/TowerofAngra/Maps/Room3_Auto5.umap
TowerofAngra/Debug/projectlevel/Saved/
TowerofAngra/Debug/projectlevel/enc_temp_folder/
